# =========================
# FRONTEND
# =========================

frontend/node_modules
frontend/dist
frontend/.vite

# =========================
# BACKEND (SPRING BOOT)
# =========================

backend/target
backend/.mvn
backend/.gradle

# =========================
# INTELLIJ IDEA
# =========================

.idea
*.iml
out

# =========================
# VS CODE
# =========================

.vscode

# =========================
# MACOS
# =========================

.DS_Store

# =========================
# LOGS
# =========================

*.log

# =========================
# ENV FILES
# =========================

.env
.env.local

# =========================
# TEMP FILES
# =========================

tmp
temp